@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Light.woff2") format("woff2"),
    url("../fonts/EuclidCircularA-Light.woff") format("woff"),
    url("../fonts/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2"),
    url("../fonts/EuclidCircularA-SemiBold.woff") format("woff"),
    url("../fonts/EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-Light.woff2") format("woff2"),
    url("../fonts/EuclidCircularB-Light.woff") format("woff"),
    url("../fonts/EuclidCircularB-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-Medium.woff2") format("woff2"),
    url("../fonts/EuclidCircularB-Medium.woff") format("woff"),
    url("../fonts/EuclidCircularB-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-Regular.woff2") format("woff2"),
    url("../fonts/EuclidCircularB-Regular.woff") format("woff"),
    url("../fonts/EuclidCircularB-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-SemiBol.woff2") format("woff2"),
    url("../fonts/EuclidCircularB-SemiBold.woff") format("woff"),
    url("../fonts/EuclidCircularB-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SangBleuKingdom";
  src: url("../fonts/SangBleuKingdom-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SangBleuKingdom";
  src: url("../fonts//SangBleuKingdom-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
