.head
  //стили фона
  &-background
    pointer-events: none
    min-width: 95vw
    z-index: -1
    position: absolute
    top: 0px
    &__grid
      display: grid
      grid-template-columns: 1fr 1fr
      overflow: hidden
    &__image
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      transform: translate(-190px, -87px)
      grid-column: 2/10
      grid-row-start: 1
      max-height: 1024px
      min-height: 1024px
      mask-image: url("../img/masks/mask.svg")
      mask-repeat: no-repeat
      mask-position: bottom left
      -webkit-mask-image: url("../img/masks/mask.svg")
      -webkit-mask-repeat: no-repeat
      -webkit-mask-position: bottom left
    &__outline
      transform: translate(-235px, -505px)
      grid-column: 2/10
      grid-row-start: 1
      z-index: -1
  //--стили фона
  //стили хедера
  &-top
    padding-top: 2px
    border-bottom: 1px solid #3d3c3c14
    height: 80px
    &__container
      display: grid
      align-items: center
      grid-template-columns: 1fr 66px 1fr
    &__item
      display: flex
      justify-content: space-between
      &:last-child
        padding-left: 87px
    &__nav
      display: flex
      justify-content: space-between
      width: 470px
  //--стили хедера

  //стили главного блока
  &-main
    padding-top: 24px
    height: 730px
    display: flex
    justify-content: space-between

    &-left
      max-width: 440px
      display: block
      flex-direction: column
      justify-content: space-between
    &__waves
      max-width: 182px
      transform: translate(-50%, 0px)
      margin-bottom: 20px
    &__subtitle
      margin-top: 0px
      margin-bottom: 47px
      margin-left: -1px
    &__title
      font-weight: 400
      font-size: 96px
      line-height: 96px
      margin-top: 0px
      transform: translateX(-5px)
      margin-bottom: 41px
    &__description
      font-style: normal
      font-weight: 300
      font-size: 24px
      line-height: 32px
      margin-bottom: 57px
    &__buttons
      display: flex
      justify-content: space-between
      width: 100%
    &__button
      width: 200px
      height: 64px
      border: solid 1px $color-secondary
      background-color: $color_light
      border-radius: 8px
      display: flex
      justify-content: center
      align-items: center
      &_gold
        background-color: $color-secondary
        background: linear-gradient(0deg, #BCA56A, #BCA56A), #86C1DB
      &_round
        display: flex
        justify-content: center
        align-items: center
        height: 64px
        width: 64px
        border-radius: 50%
        background-color: transparent
    &__line
      display: block
      margin: 24px 31px
      width: 1px
      height: 48px
      background-color: $color_secondary
    &__sotial-networks
      height: 256px
      display: flex
      flex-direction: column
      justify-content: space-between
      transform: translate(64px, 168px)
    //
    &-right
      display: flex
      flex-direction: column
      align-items: end
      justify-content: space-between
  //--стили главного блока

//
//
//
//стили элементов хедера
.logo
  padding-top: 5px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &__image
    margin: auto
  &__stars
    padding-top: 11px
    max-width: 73px
    z-index: 1
  &::after
    transform: translate(0, -4px)
    content: ' '
    position: relative
    background-color: $color_light
    width: 88px
    height: 3px
    z-index: 0

.lang
  display: flex
  justify-content: space-between
  width: 80px

.sing-in
  margin-right: 41px
  margin-left: auto
  &__text
    border-bottom: 1px dashed
//--стили элементов хедера

//
//
//
//
//стили блока с погодой
.weather
  transform: translate(-61px, 13px)
  width: 182px
  display: flex
  justify-content: space-between
  &__text
    display: flex
    flex-direction: column
  &__icons
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: end
  &__temperature
    font-weight: 400
    font-size: 48px
    line-height: 56px
  &__precipitation
    font-weight: 300
    font-size: 20px
    line-height: 32px
  &__location
    font-weight: 300
    font-size: 16px
    line-height: 24px
    &__icon
      max-height: 22px
  //фон блока с погодой
  &-background
    transform: translate(88px, 612px)
    grid-column: 2/10
    grid-row-start: 1
    width: 100%
    height: 312px
    background-color: #000000a3
    mask-image: url("../img/masks/weather-mask.svg")
    mask-repeat: no-repeat
    mask-position: bottom left
    -webkit-mask-image: url("../img/masks/weather-mask.svg")
    -webkit-mask-repeat: no-repeat
    -webkit-mask-position: bottom left
  &-outline
    transform: translate(-2px, 611px)
    grid-column: 2/10
    grid-row-start: 1
    z-index: 10
  //--фон блока с погодой
